<!-- vim: set noai nocindent expandtab ft=html : -->
<!-- Copyright (c) 2025 Jeffrey H. Johnson -->
<!-- SPDX-License-Identifier: MIT -->

<!-- -==- START OF TEST TEMPLATE -==- -->

<p>
    The fictitious affluent coffee sufficient official different office Thistle Thames staff acta
    select skies standard cctt sstt FFI ffi ffl.&nbsp;
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.&nbsp; Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.&nbsp; Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur.&nbsp; Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id ẽ laborum.&nbsp;
</p>

<ul>
    <li>
        <p class="tight">
            <span><i>In</i> the beginning God created the Heaven and the Earth.&nbsp;</span>
        </p>
    </li>
    <li>
        <p class="tight">
            <span
                ><i>And</i> the Earth was without form, and void; and darkness was upon the face of
                the deep.&nbsp; And the Spirit of God moved upon the face of the waters.&nbsp;</span
            >
        </p>
    </li>
    <li>
        <p class="tight">
            <span><i>And</i> God said, Let there be light: and there was light.&nbsp;</span>
        </p>
    </li>
</ul>
<ol>
    <li>
        <p class="tight">
            <span
                ><i>If</i> any one ensnare another, putting a ban upon him, but he can not prove it,
                then he that ensnared him shall be put to death.&nbsp;</span
            >
        </p>
    </li>
    <li>
        <p class="tight">
            <span
                ><i>If</i> any one bring an accusation against a man, and the accused go to the
                river and leap into the river, if he sink in the river his accuser shall take
                possession of his house.&nbsp; But if the river prove that the accused is not
                guilty, and he escape unhurt, then he who had brought the accusation shall be put to
                death, while he who leaped into the river shall take possession of the house that
                had belonged to his accuser.&nbsp;
            </span>
        </p>
    </li>
    <li>
        <p class="tight">
            <span
                ><i>If</i> any one bring an accusation of any crime before the elders, and does not
                prove what he has charged, he shall, if it be a capital offense charged, be put to
                death.&nbsp;</span
            >
        </p>
    </li>
</ol>

<p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
    beatae vitae dicta sunt explicabo.&nbsp; Nemo enim ipsam voluptatem Zyzzy voluptas sit
    aspernatur aut odit aut fugit, sed est consequuntur magni dolores eos qui ratione voluptatem
    sequi nesciunt.&nbsp; Neque porro quisquam est, qui dolorem ipsum quod dolor sit.&nbsp;
</p>

<blockquote class="styled-quote">
    <span class="quote-original">
        When you are old and grey and full of sleep and nodding by the fire, Take down this book,
        and slowly read, and dream of the soft look Your eyes had once, and of their shadows
        deep;&nbsp; How many loved your moments of glad grace, And loved your beauty with love false
        or true, but one man loved the pilgrim soul in you.&nbsp;
    </span>
</blockquote>

<p>
    Special words and characters render as so: Æther, chymical, Quality, naïveté, ⅓, tête-à-tête,
    Uɴɪx<small>™</small>, zoöglœæ, coup dʼétat, chamæleon, coëfficient, über, amœba, cause célèbre,
    reëstablished, <small>&amp;c</small>.&nbsp;
</p>

<p>
    Quality automatic replacements?&nbsp; LaTeX re-integrated and reestablished the field of Unix
    pediatric palaeolithic zoology.&nbsp; Such is the magical color of alchemy,
    <small>&amp;c</small>.&nbsp; Take one per hour but do not exceed 4 + 1/4 per day.&nbsp;
</p>

<p>
    Numbers: 1st 2nd 3rd 4th 5th 6th 7th 8th 9th 10th 11th 12th 13th 14th 15th 16th 17th 18th 19th
    20th.&nbsp;
</p>

<section class="columns-section">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp; Etiam et pulvinar nisi.&nbsp;
        Pellentesque euismod, sem ac pretium cursus, nulla magna porta dolor, vitae dictum nulla
        eros at urna.&nbsp; Mauris placerat, orci eu dictum cursus, risus nunc varius mi, nec
        ultricies risus purus nec sapien.&nbsp; In euismod, dolor nec pulvinar mattis, mauris enim
        lacinia lacus, eu tincidunt dui velit ac eros.
    </p>

    <p>
        Vivamus nec sapien at lectus posuere dignissim.&nbsp; Nunc et dui euismod, pharetra enim eu,
        faucibus urna.&nbsp; Pellentesque nec turpis sed enim lacinia luctus.&nbsp; Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam iaculis, odio
        eget hendrerit tincidunt, mi sem pharetra turpis, ac laoreet urna urna eget lectus.&nbsp;
        Mauris ac consequat lectus.&nbsp;
    </p>

    <p>
        Integer dictum lobortis purus, vitae elementum eros volutpat nec.&nbsp; Proin tincidunt eros
        vitae nisi sollicitudin, non sagittis enim tincidunt.&nbsp; In posuere urna nec ullamcorper
        pulvinar.&nbsp; Etiam in lacus dictum, viverra urna sed, sodales tellus.
    </p>
    <blockquote class="styled-quote">
        <span class="quote-original">
            Now is the time for all good men to come to the aid of the Party, party, party time!
        </span>
    </blockquote>
</section>

<blockquote class="styled-quote">
    <span class="quote-original">
        When you are old and grey and full of sleep and nodding by the fire, Take down this book,
        and slowly read, and dream of the soft look Your eyes had once, and of their shadows
        deep;&nbsp; How many loved your moments of glad grace, And loved your beauty with love false
        or true, but one man loved the pilgrim soul in you.&nbsp;
    </span>
</blockquote>

<p>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas.&nbsp; Morbi pretium, metus ac scelerisque cursus, odio urna eleifend erat, nec luctus
    eros urna nec dui.&nbsp; Praesent feugiat, nisi nec auctor iaculis, urna odio cursus odio, non
    consequat velit metus at turpis.&nbsp; Aenean pretium, ex sed scelerisque dictum, risus nibh
    tincidunt leo, ac dictum magna orci ac eros.&nbsp; Sed a placerat ipsum.&nbsp; Sed blandit,
    mauris nec laoreet tincidunt, justo justo sodales enim, eu consectetur enim arcu at nisi.&nbsp;
    Duis euismod justo non neque ullamcorper, vitae cursus ipsum laoreet.&nbsp; Integer molestie
    facilisis urna, ac dictum dolor malesuada at.&nbsp; Mauris commodo risus mauris, et porta libero
    gravida vel.&nbsp; Nullam euismod, augue nec convallis feugiat, augue tellus tincidunt lorem, et
    dictum lacus justo vitae sem.&nbsp; Pellentesque pharetra, dolor ac dictum cursus, erat libero
    dictum enim, a facilisis nisi nulla at augue.
</p>

<ul>
    <li>
        <p class="tight">
            <span
                ><i>Beware</i> of all whoredom, my son, and chiefly take a wife of the seed of thy
                fathers, and take not a strange woman to wife, which is not of thy father’s tribe:
                for we are the children of the prophets, Noe, Abraham, Isaac, and Jacob: remember,
                my son, that our fathers from the beginning, even that they all married wives of
                their own kindred, and were blessed in their children, and their seed shall inherit
                the land.&nbsp;<br /><br
            /></span>
        </p>
    </li>
    <li>
        <p class="tight">
            <span
                ><i>Now</i> therefore, my son, love thy brethren, and despise not in thy heart thy
                brethren, the sons and daughters of thy people, in not taking a wife of them: for in
                pride is destruction and much trouble, and in lewdness is decay and great want: for
                lewdness is the mother of famine.&nbsp;<br /><br
            /></span>
        </p>
    </li>
    <li>
        <p class="tight">
            <span
                >Let not the wages of any man, which hath wrought for thee, tarry with thee, but
                give him it out of hand: for if thou serve God, he will also repay thee: be
                circumspect, my son, in all things thou doest, and be wise in all thy
                conversation.&nbsp;</span
            >
        </p>
    </li>
</ul>

<p>
    Ipsum dolor sit amet, consectetur adipiscing elit.&nbsp; Etiam et pulvinar nisi.&nbsp;
    Pellentesque euismod, sem ac pretium cursus, nulla magna porta dolor, vitae dictum nulla eros at
    urna.&nbsp; Mauris placerat, orci eu dictum cursus, risus nunc varius mi, nec ultricies risus
    purus nec sapien.&nbsp; In euismod, dolor nec pulvinar mattis, mauris enim lacinia lacus, eu
    tincidunt dui velit ac eros.&nbsp; Vivamus nec sapien at lectus posuere dignissim.&nbsp; Nunc et
    dui euismod, pharetra enim eu, faucibus urna.&nbsp; Pellentesque nec turpis sed enim lacinia
    luctus.&nbsp; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    curae; Etiam iaculis, odio eget hendrerit tincidunt, mi sem pharetra turpis, ac laoreet urna
    urna eget lectus.&nbsp; Mauris ac consequat lectus.&nbsp; Integer dictum lobortis purus, vitae
    elementum eros volutpat nec.&nbsp; Proin tincidunt eros vitae nisi sollicitudin, non sagittis
    enim tincidunt.&nbsp; In posuere urna nec ullamcorper pulvinar.&nbsp; Etiam in lacus dictum,
    viverra urna sed, sodales tellus.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp; Etiam et pulvinar nisi.&nbsp;
    Pellentesque euismod, sem ac pretium cursus, nulla magna porta dolor, vitae dictum nulla eros at
    urna.&nbsp; Mauris placerat, orci eu dictum cursus, risus nunc varius mi, nec ultricies risus
    purus nec sapien.&nbsp; In euismod, dolor nec pulvinar mattis, mauris enim lacinia lacus, eu
    tincidunt dui velit ac eros.&nbsp; Vivamus nec sapien at lectus posuere dignissim.&nbsp; Nunc et
    dui euismod, pharetra enim eu, faucibus urna.&nbsp; Pellentesque nec turpis sed enim lacinia
    luctus.&nbsp; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    curae; Etiam iaculis, odio eget hendrerit tincidunt, mi sem pharetra turpis, ac laoreet urna
    urna eget lectus.
</p>
<p>
    Mauris ac consequat lectus.&nbsp; Integer dictum lobortis purus, vitae elementum eros volutpat
    nec.&nbsp; Proin tincidunt eros vitae nisi sollicitudin, non sagittis enim tincidunt.&nbsp; In
    posuere urna nec ullamcorper pulvinar.&nbsp; Etiam in lacus dictum, viverra urna sed, sodales
    tellus.
</p>

<blockquote class="styled-quote">
    <span class="quote-original">
        April is the cruellest month, breeding Lilacs out of the dead land, mixing Memory and
        desire, stirring Dull roots with spring rain.&nbsp; Winter kept us warm, covering Earth in
        forgetful snow, feeding A little life with dried tubers.&nbsp; Summer surprised us, coming
        over the Starnbergersee With a shower of rain; we stopped in the colonnade, And went on in
        sunlight, into the Hofgarten, And drank coffee, and talked for an hour.&nbsp; Bin gar keine
        Russin, stamm’ aus Litauen, echt deutsch.&nbsp; And when we were children, staying at the
        archduke’s, My cousin’s, he took me out on a sled, And I was frightened.&nbsp; He said,
        Marie, Marie, hold on tight.&nbsp; And down we went.&nbsp; In the mountains, there you feel
        free.&nbsp; I read, much of the night, and go south in the winter.&nbsp;
    </span>
</blockquote>

<p>
    Tristique senectus et netus et malesuada fames ac turpis egestas.&nbsp; Morbi pretium, metus ac
    scelerisque cursus, odio urna eleifend erat, nec luctus eros urna nec dui.&nbsp; Praesent
    feugiat, nisi nec auctor iaculis, urna odio cursus odio, non consequat velit metus at
    turpis.&nbsp; Aenean pretium, ex sed scelerisque dictum, risus nibh tincidunt leo, ac dictum
    magna orci ac eros.&nbsp; Sed a placerat ipsum.&nbsp; Sed blandit, mauris nec laoreet tincidunt,
    justo justo sodales enim, eu consectetur enim arcu at nisi.&nbsp; Duis euismod justo non neque
    ullamcorper, vitae cursus ipsum laoreet.&nbsp; Integer molestie facilisis urna, ac dictum dolor
    malesuada at.&nbsp; Mauris commodo risus mauris, et porta libero gravida vel.&nbsp; Nullam
    euismod, augue nec convallis feugiat, augue tellus tincidunt lorem, et dictum lacus justo vitae
    sem.&nbsp; Pellentesque pharetra, dolor ac dictum cursus, erat libero dictum enim, a facilisis
    nisi nulla at augue.&nbsp;
</p>

<p>This is a <a href="https://github.com/johnsonjh/">link to GitHub</a>.&nbsp;</p>

<p>
    Amet, consectetur, adipisci velit, sed est non numquam eius modi tempora incidunt ut labore et
    dolore magnam aliquam quaerat voluptatem.&nbsp; Ut enim ad minima veniam, quis nostrum
    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
    consequatur?&nbsp; Quis autem est eum iure reprehenderit qui in ea voluptate velit esse quam
    nihil molestiae consequatur, ezt illum qui dolorem eum fugiat quo voluptas nulla Julian
    <span style="white-space: nowrap">pariatur?<span class="symbola">&nbsp;⸎</span></span>
</p>

<!-- -==- END OF TEST TEMPLATE -==- -->
