<!-- vim: set expandtab ft=html : -->
        <p>
            The fictitious affluent coffee sufficient official different office Thistle Thames staff
            acta select skies standard cctt sstt FFI ffi ffl.&nbsp;
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.&nbsp; Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp; Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.&nbsp; Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id ẽ laborum.&nbsp;
        </p>

        <ul>
            <li>
                <p class="tight">
                    <span><i>In</i> the beginning God created the Heaven and the Earth.&nbsp;</span>
                </p>
            </li>
            <li>
                <p class="tight">
                    <span
                        ><i>And</i> the Earth was without form, and void; and darkness was upon the
                        face of the deep.&nbsp; And the Spirit of God moved upon the face of the
                        waters.&nbsp;</span
                    >
                </p>
            </li>
            <li>
                <p class="tight">
                    <span><i>And</i> God said, Let there be light: and there was light.&nbsp;</span>
                </p>
            </li>
        </ul>
        <ol>
            <li>
                <p class="tight">
                    <span
                        ><i>If</i> any one ensnare another, putting a ban upon him, but he can not
                        prove it, then he that ensnared him shall be put to death.&nbsp;</span
                    >
                </p>
            </li>
            <li>
                <p class="tight">
                    <span
                        ><i>If</i> any one bring an accusation against a man, and the accused go to
                        the river and leap into the river, if he sink in the river his accuser shall
                        take possession of his house.&nbsp; But if the river prove that the accused
                        is not guilty, and he escape unhurt, then he who had brought the accusation
                        shall be put to death, while he who leaped into the river shall take
                        possession of the house that had belonged to his accuser.&nbsp;
                    </span>
                </p>
            </li>
            <li>
                <p class="tight">
                    <span
                        ><i>If</i> any one bring an accusation of any crime before the elders, and
                        does not prove what he has charged, he shall, if it be a capital offense
                        charged, be put to death.&nbsp;</span
                    >
                </p>
            </li>
        </ol>

        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo.&nbsp; Nemo enim ipsam voluptatem Zyzzy
            voluptas sit aspernatur aut odit aut fugit, sed est consequuntur magni dolores eos qui
            ratione voluptatem sequi nesciunt.&nbsp; Neque porro quisquam est, qui dolorem ipsum
            quod dolor sit.&nbsp;
        </p>

        <blockquote class="verse">
            When you are old and grey and full of sleep and nodding by the fire, Take<br />
            down this book, and slowly read, and dream of the soft look Your eyes had<br />
            once, and of their shadows deep; How many loved your moments of glad<br />
            grace, And loved your beauty with love false or true, but one man loved<br />
            the pilgrim soul in you.&nbsp;
        </blockquote>

        <p>
            Special words and characters render as so: Æther, chymical, Quality, naïveté, ⅓,
            tête-à-tête, Uɴɪx<small>™</small>, zoöglœæ, coup dʼétat, chamæleon, coëfficient, über,
            amœba, cause célèbre, reëstablished, <small>&c</small>.&nbsp;
        </p>

        <p>
            Quality automatic replacements?&nbsp; LaTeX re-integrated and reestablished the field of
            Unix pediatric palaeolithic zoology.&nbsp; Such is the magical color of alchemy,
            <small>&c</small>.&nbsp; Take one per hour but do not exceed 4 + 1/4 per day.&nbsp;
        </p>

        <p>
            Numbers: 1st 2nd 3rd 4th 5th 6th 7th 8th 9th 10th 11th 12th 13th 14th
            15th 16th 17th 18th 19th 20th.&nbsp;
        </p>

        <p>
            This is a <a href="https://github.com/johnsonjh/">link to GitHub</a>.
        </p>

        <p>
            Amet, consectetur, adipisci velit, sed est non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.&nbsp; Ut enim ad minima veniam, quis
            nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
            consequatur?&nbsp; Quis autem est eum iure reprehenderit qui in ea voluptate velit esse
            quam nihil molestiae consequatur, ezt illum qui dolorem eum fugiat quo voluptas nulla
            Julian
            <span style="white-space: nowrap">pariatur?<span class="symbola">&nbsp;⸎</span></span>
        </p>
