<!doctype html>
<!-- vim: set expandtab ft=html : -->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="light dark" />
        <meta name="darkreader-lock" />

        <link
            rel="preload"
            href="EBGaramond-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous" />

        <link
            rel="preload"
            href="EBGaramond-Italic.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous" />

        <link
            rel="preload"
            href="JunicodeVF-Roman.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous" />

        <link
            rel="preload"
            href="Typewriter.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous" />

        <link
            rel="preload"
            href="Strassburg-Fraktur.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous" />

        <link
            rel="preload"
            href="FetteUNZFraktur.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous" />

        <link rel="preload" href="bg.png" as="image" type="image/png" />

        <title>###TITLE###</title>

        <style>
            body {
                visibility: hidden;
            }

            @font-face {
                font-family: "Junicode";
                font-style: normal;
                font-weight: 400;
                src: url("JunicodeVF-Roman.woff2") format("woff2");
            }

            @font-face {
                font-family: "EB Garamond";
                font-style: normal;
                font-weight: 400;
                src: url("EBGaramond-Regular.woff2") format("woff2");
            }

            @font-face {
                font-family: "EB Garamond";
                font-style: italic;
                font-weight: 400;
                src: url("EBGaramond-Italic.woff2") format("woff2");
            }

            @font-face {
                font-family: "Strassburg Fraktur";
                font-style: normal;
                font-weight: 400;
                src: url("Strassburg-Fraktur.woff2") format("woff2");
            }

            @font-face {
                font-family: "Typewriter";
                font-style: normal;
                font-weight: 400;
                src: url("Typewriter.woff2") format("woff2");
            }

            @font-face {
                font-family: "Fette";
                font-style: normal;
                font-weight: 400;
                src: url("FetteUNZFraktur.woff2") format("woff2");
            }

            @font-face {
                font-family: "Symbola";
                font-style: normal;
                font-weight: 400;
                src: url("Symbola.woff2") format("woff2");
            }

            html {
                font-family: "EB Garamond";
                font-kerning: normal;
                font-size: 1.35em;
                font-feature-settings: "calt" 1, "clig" 1, "dlig" 1, "hist" 1, "hlig" 1, "liga" 1, "kern" 1;
                margin: 4% 9% 0.2% 9%;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                text-align: justify;
                text-wrap: pretty;
                text-rendering: optimizeLegibility;
            }

            @media (max-width: 700px) {
                body {
                    font-size: 0.8em;
                }
            }

            .columns-section {
                column-count: 2;
                column-gap: 2em;
                padding: 1em;
                text-align: justify;
                text-wrap: balance;
                text-wrap: pretty;
            }

            @media (max-width: 800px) {
                .columns-section {
                    column-count: 1;
                }
            }

            .pending-transform {
                color: red;
                font-weight: bold;
                unicode-bidi: isolate;
                white-space: nowrap;
            }

            .transformed {
                font-feature-settings: "hist" 0;
                unicode-bidi: isolate;
                white-space: nowrap;
                display: contents;
            }

            .char {
                opacity: 1;
            }

            .char.visible {
                opacity: 1;
            }

            .dropcap {
                display: inline-block;
                font-family: "Strassburg Fraktur";
                font-optical-sizing: none;
                font-size: 260%;
                font-style: italic;
                line-height: 1;
                margin-bottom: -0.35em;
                margin-left: 0.14em;
                vertical-align: baseline;
            }

            .tight {
                margin-bottom: 0em;
                margin-top: 0em;
            }

            .title {
                line-height: 0.4 !important;
            }

            span.no-ligatures {
                text-align: start;
                font-feature-settings: "calt" 0, "clig" 0, "dlig" 0, "hist" 0, "hlig" 0, "liga" 0;
            }

            ol {
                counter-reset: item;
            }

            ol li {
                align-items: flex-start;
                counter-increment: item;
                display: flex;
                list-style: none;
                margin-left: 0;
                padding-left: 0em;
            }

            ol li::before {
                content: counter(item) ". ";
                font-feature-settings: "onum";
                font-size: 86%;
                font-variant-numeric: oldstyle-nums;
                margin-right: 0.2em;
                position: relative;
                top: -0.25em;
            }

            ul li {
                align-items: flex-start;
                display: flex;
                font-feature-settings: "onum";
                font-variant-numeric: oldstyle-nums;
                list-style: none;
                margin-left: 0;
                padding-left: 0em;
            }

            ul li::before {
                content: "☞";
                font-size: 92%;
                margin-right: 0.2em;
            }

            ul li,
            ol li {
                padding-right: 2.3em;
            }

            :root {
                --bg-dark: #192021;
                --bg-light: #e0d3af;
                --text-dark: #e0d3af;
                --text-light: #09162d;
            }

            html,
            body {
                -webkit-text-size-adjust: none;
                text-size-adjust: none;
                z-index: 0;
                position: relative;
                background: var(--bg-light);
                color: var(--text-light);
                transition:
                    background 0.01s,
                    color 0.01s;
            }

            body::before {
                background: url("bg.png") no-repeat center top;
                background-size: cover;
                content: "";
                height: 100%;
                left: 0;
                opacity: 0.04;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: -1;
                pointer-events: none;
            }

            html.dark-mode,
            html.dark-mode body {
                background: var(--bg-dark);
                color: var(--text-dark);
            }

            .red,
            .error,
            .danger {
                color: red !important;
            }

            html.dark-mode #theme-toggle {
                color: #bfb66e;
            }

            #theme-toggle {
                background: none;
                border: none;
                color: #000;
                cursor: pointer;
                font-size: clamp(4vw, 4vw, 3rem);
                position: fixed;
                right: 0.4em;
                top: 0.3em;
                z-index: 1000;
            }

            html.notransition *,
            html.notransition {
                transition: none !important;
            }

            .symbola {
                font-family: "Symbola";
            }

            blockquote.verse {
                font-size: 90%;
                font-style: italic;
                line-height: 1.4;
                margin: 0em;
                padding-left: 0em;
                padding-right: 0.8em;
                position: relative;
                right: -0.8em;
                transform: translateZ(0);
                text-align: left;
                width: auto;
                display: table;
            }

            .verse .vline {
                display: block;
                position: relative;
            }

            .verse .vline::before {
                content: "“";
                left: -0.6em;
                position: absolute;
                top: 0;
            }

            .verse .vline .closer {
                position: relative;
            }

            blockquote {
                font-feature-settings: "hlig" 0;
            }

            .tight-s {
                letter-spacing: -0.092em;
            }

            .tight-dot {
                letter-spacing: -0em;
            }

            .tighter-dot {
                letter-spacing: -0.1em;
            }

            a {
                color: inherit;
                font-weight: inherit;
                font-style: normal;
                cursor: pointer;
                text-decoration-line: underline;
                text-decoration-style: dotted;
                text-decoration-color: #005500;
            }

            .dark-mode a {
                color: inherit;
                font-weight: inherit;
                font-style: normal;
                cursor: pointer;
                text-decoration-line: underline;
                text-decoration-style: dotted;
                text-decoration-color: red;
            }

            a:hover {
                text-decoration-style: double;
            }
        </style>

        <script>
            (function () {
                try {
                    var theme = localStorage.getItem("theme");

                    if (!theme) {
                        theme = window.matchMedia("(prefers-color-scheme: dark)").matches
                            ? "dark"
                            : "light";
                    }

                    if (theme === "dark") {
                        document.documentElement.classList.add("dark-mode");
                    }

                    document.documentElement.classList.add("notransition");
                } catch (e) {}
            })();
        </script>
        <noscript>
            <style>
                body {
                    visibility: visible !important;
                }
            </style>
        </noscript>
    </head>

    <body>
        <p class="tight title" style="text-align: center">
            <button
                style="font-family: Symbola"
                id="theme-toggle"
                aria-label="Toggle theme"
                title="Toggle theme">
                ●
            </button>
            <span
                style="
                    font-family: Junicode;
                    font-size: clamp(6vw, 6vw, 4rem);
                    font-variant: small-caps;
                    letter-spacing: 0.4em;
                    white-space: nowrap;
                "
                >​ <a href="###BASEURL###" style="color: inherit; text-decoration: none; font-weight: inherit; font-style: normal; cursor: pointer">IlluminationeS</a></span
            >
        </p>
        <hr
            style="
                width: 100%;
                height: 2px;
                border-style: inset;
                display: block;
                background-color: #192021;
                border: none;
                border-top: 2px solid #e0d3af;
            " />

        <p style="text-wrap: balance; max-width: 90vw; text-align: center">
            <i
                ><span style="font-size: 120%; font-feature-settings: 'swsh' 1;">S</span>e<span class="tight-s">nſ</span>us <span class="tight-s">Eſ</span>sentiales et
                Commentarii Collecti…</i
            >
        </p>
