html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

blockquote.verse {
    font-size: 90%;
    font-style: italic;
    line-height: 1.4;
    margin: 0em;
    padding-left: 0em;
    padding-right: 0.8em;
    position: relative;
    right: -0.8em;
    transform: translateZ(0);
}

.verse .vline {
    display: block;
    position: relative;
}

.verse .vline::before {
    content: "“";
    left: -0.6em;
    position: absolute;
    top: 0;
}

.verse .vline .closer {
    position: relative;
}

blockquote {
    font-feature-settings: "hlig" 0;
}
